version: '3.8'

services:
  app-api-film:
    build: .
    container_name: my-nodejs-app
    ports:
      - "5000:5000"
    env_file:
      - ./.env
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev